body {
  background: url("../images/food-pattern.png");
  display: grid;
  grid-template-areas: ". main .";
  grid-template-columns: 1fr 768px 1fr;
}

h1 {
  font-family: "Kumar One Outline", sans-serif;
  font-size: 2em;
  margin: 0.67rem 0;
}

html {
  font-size: 125%;
}

label {
  font-family: "Slabo 27px", serif;
  font-weight: bold;
  letter-spacing: 0.05em;
}

main {
  display: grid;
  grid-area: main;
  grid-gap: 1em;
  grid-template-areas:
    "title title"
    "stage side"
    "stats stats";
  grid-template-columns: 1fr 1fr;
}

output {
  font-family: "Slabo 27px", serif;
}

.instructions {
  font-family: "Slabo 27px", serif;
}

.side {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  grid-area: side;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

.side-label {
  margin-right: 0.125em;
}

.stage {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  grid-area: stage;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

.stage-group {
  margin-bottom: 1em;
}

.stage-group:last-child {
  margin-bottom: 0;
}

.stats {
  background-color: #ffffff;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  grid-area: stats;
  padding: 1em 0;
}

.stats-group {
  margin-right: 1em;
}

.stats-group:last-child {
  margin-right: 0;
}

.title {
  background-color: #ffffff;
  border: 1px solid #000000;
  grid-area: title;
  padding: 1em 0;
  text-align: center;
}

.top-label {
  display: block;
  margin-bottom: 0.5em;
}

.word-display {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.25em;
  letter-spacing: 0.25em;
}

#letters-guessed {
  display: block;
  min-height: 1em;
}

#win-image {
  font-size: 72pt;
  height: 72pt;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  body {
    grid-template-areas: "main";
    grid-template-columns: 1fr;
    padding: 0 1em;
  }
}

@media screen and (max-width: 576px) {
  main {
    grid-template-areas:
      "title"
      "stage"
      "side"
      "stats";
    grid-template-columns: 1fr;
  }
}
